-e git+https://github.com/PekkaSavolainen/Spine-Database-API.git#egg=spinedb_api
-e git+https://github.com/PekkaSavolainen/spine-engine.git#egg=spine_engine
-e git+https://github.com/PekkaSavolainen/Spine-Toolbox.git#egg=spinetoolbox
-e .
